* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Assets/fondo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    color: aqua;
}

#descripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin: 10px;
    padding: 10px;
}

#descripcion img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.cont-cat {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

.cat1 {
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(88, 66, 90, 0.5);
    border-radius: 20px;

}

.cat1 img {
    width: 230px;

}

.cont-prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.prod1 {
    justify-self: center;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(88, 66, 90, 0.5);
    border-radius: 20px;
}

.prod1 img {
    width: auto;
    height: 250px;
}


#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.cont-formulario {
    width: 60%;
    margin: 20px;
    box-shadow: 13px 10px 28px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 13px 10px 28px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 28px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(88, 66, 90, 0.5);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

form {
    background-color: rgb(222, 205, 236);
    padding: 20px;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(219, 211, 211);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}


button {
    background-color: rgb(104, 24, 104);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: violet;
}

.informacion {
    background-color: blueviolet;
    padding: 20px;
}

.cont-info a {
    display: flex;
}

label {
    font-family: 'Pacifico', cursive;
}

input, textarea {
    text-align: left;
    padding: 5px;
}

h1,
h2 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: var(--color-secundary);
    text-shadow: 1px 0px 0px black,
        0px 1px 0px black,
        -1px 0px 0px black,
        0px -1px 0px black;

}

p, a, button {
    color: white;
    font-family: 'Pacifico', cursive;
}

.wp-container {
    margin-right: 20px;
}

.separacion {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 10vw solid blueviolet;
    margin-top: 0;
}

.red-social{
    display: flex;
    align-items: center;
    gap: 10px;
    size: 32px;
}

.red-social a {
    color: black;
    text-decoration: none;
}

.red-social:hover, a:hover {
    color: aqua;
}

:root {
    --color-primary: blueviolet;
    --color-secundary: white;
}