* {
    margin: 0;
    padding: 0;
}

header {
    background-color: violet;
    display: flex;
}

.descripcion {
    background-color: green;
    display: flex;


}


.cont-desc1 {
    margin: 30px;
    padding: 100px;
}

.cont-cat {
    max-width: 1000px;
    background-color: aquamarine;
    margin: 10px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cat1 {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: yellowgreen;
}

.cat1 img {
    width: 100%;
}

.cont-prod {
    max-width: 1000px;
    background-color: aquamarine;
    margin: 10px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.prod1 {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: yellowgreen;
}

.prod1 img {
    width: 100%;
}

.formulario {
    padding: 100px;
    margin: 10px;
    align-items: center;

}

.cont-formulario {
    width: 500px;
}

form {
    background-color: rgb(222, 205, 236);
    padding: 20px;
    border-radius: 10px;
}

input , textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(219, 211, 211);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  
  #mensaje {
    margin-top: 10px;
    padding-top: 30px;
  }

  button { 
    background-color: rgb(104, 24, 104);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: violet;
  }

  .cont-info {
    display: column;
  }

  .informacion {
    padding: 30px;
    margin: 10px;
  }

  .cont-info a {
    display: flex;
  }
