* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Assets/fondo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    
    justify-content: center;
    align-items: center;
    
  
}

header {
    background-color: blueviolet;
    display: flex;
    text-align: right;
   
}

header div a {
    padding: 10px;
    justify-content: right;
    background-color: aqua;
    text-align: right;
}

.descripcion {
 display: flex;
 margin: 10px;
 padding: 10px;

}

.descripcion img {
    width: 30%;
    border-radius: 50px;
    


}
.cont-desc1 {
    opacity: 1000;
    margin: 30px;
    padding: 100px;
    border: 3px solid rgb(57, 53, 53);
    margin: 50px auto;
    border-radius: 10px;
    width: 50%;
    background-color: rgba(88, 66, 90, 0.5); 
    padding: 20px;
}

.cont-cat {
    
  
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
    
}

.cat1 {
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(88, 66, 90, 0.5); 
    border-radius: 20px;

}

.cat1 img {
    width: 230px;

}

.cont-prod {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



.prod1 {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(88, 66, 90, 0.5); 
    border-radius: 20px;
}

.prod1 img {
    width: 100%;
}

.formulario {
    width: 100vh;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.cont-formulario {
   
    box-shadow: 13px 10px 28px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 13px 10px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 10px 28px 0px rgba(0,0,0,0.75);
    background-color: rgba(88, 66, 90, 0.5); 
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

form {
    background-color: rgb(222, 205, 236);
    padding: 20px;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(219, 211, 211);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#mensaje {
    margin-top: 10px;
    padding-top: 30px;
}

button {
    background-color: rgb(104, 24, 104);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: violet;
}

.informacion {
  background-color: white;
  
}

.cont-info a {
    display: flex;
 }

h1, h2 {
    text-align: center;
    color: blueviolet;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    text-shadow: 1px 0px 0px black,
        0px 1px 0px black,
        -1px 0px 0px black,
        0px -1px 0px black;

}

p {
    color: white;
    font-family: 'Pacifico', cursive;
}

.separacion {
    width: 0;
    height: 0;
    border-right: 100vh solid transparent;
    border-bottom: 13.9vh solid red;
}

@media (max-width: 880px) {
    .cont-prod {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    

}

@media (max max-width 480px) {
    .cont-prod {
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
}